<div class="box">
    <div class="leftbox">
      <h4>Food type</h4>
      <div class="dropdown1">
        <select class="content-items-dropdown1">
          <option>Select Category</option>
          <option class="food-options" value="Indian">Indian</option>
          <option class="food-options" value="Continental">Continental</option>
          <option class="food-options" value="Chinese">Chinese</option>
          <option class="food-options" value="Italian">Italian</option>
        </select>
      </div>
      <input
        class="content-items"
        type="text"
        placeholder="Enter Quantity of Veg Items"
      />
      <input
        class="content-items"
        type="text"
        placeholder="Enter Quantity of Non-veg Items"
      />
      <img
        src="assets/dewdrop.png"
        alt="dewdrop"
        width="150"
        height="150"
        class="dew-img-content"
      />
    </div>
    <div class="rightbox">
      <h4>Select Add-Ons</h4>
      <div class="dropdown2">
        <select class="content-items-dropdown2">
          <option>Select Category</option>
          <option class="food-options" value="Indian">Indian</option>
          <option class="food-options" value="Continental">Continental</option>
          <option class="food-options" value="Chinese">Chinese</option>
          <option class="food-options" value="Italian">Italian</option>
        </select>
      </div>
    </div>
    <button type="submit" class="book-event-button">Book Event</button>
  </div>
  
