.box {
    height: 600px;
    width: 1000px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 7px 6px 18px -6px rgba(0, 0, 0, 0.82);
    -webkit-box-shadow: 7px 6px 18px -6px rgba(0, 0, 0, 0.82);
    -moz-box-shadow: 7px 6px 18px -6px rgba(0, 0, 0, 0.82);
    position: relative;
    margin-top: 40px;
    margin-bottom: 25px;
    font-family: "Dongle", sans-serif;
  }
  h4 {
    font-size: 20px;
  }
  .leftbox {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .dropdown1 > select {
    color: #adadad;
    border-color: #adadad;
  }
  .dew-img-content {
    margin-left: 50px;
  }
  .content-items,
  .content-items-dropdown1 {
    margin: 20px;
    margin-right: 200px;
    border-color: #adadad;
  }
  .content-items-dropdown1,
  .content-items-dropdown2 {
    width: 212px;
  }
  .content-items-dropdown2 {
    margin: 20px;
  }
  
  .rightbox {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 320px;
  }
  .dropdown2 > .content-items-dropdown2 {
    background-color: #587291;
  }
  .dropdown2 > select {
    color: white;
  }
  input {
    border-style: none;
    border-width: 1px;
    background-color: white;
  }
  input,
  .food-options,
  select {
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    border-style: outset;
    font-family: "Dongle", sans-serif;
    font-size: 20px;
  }
  
  input::placeholder {
    color: #adadad;
    padding: 5px;
  }
  input:focus {
    outline: none;
  }
  .book-event-button {
    background-color: #f39237;
    width: 140px;
    height: 40px;
    border-radius: 50px;
    position: absolute;
    bottom: 60px;
    color: white;
    border: none;
    font-family: "Dongle", sans-serif;
    font-size: 20px;
    box-shadow: -1px 5px 12px -2px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: -1px 5px 12px -2px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: -1px 5px 12px -2px rgba(0, 0, 0, 0.41);
  }
  .book-event-button:hover {
    cursor: pointer;
    width: 150px;
    height: 50px;
  }
  .book-event-button:focus {
    border-style: solid;
  }
  