<h2 class="font-dongle text-6xl text-center font-semibold mb-4">Register</h2>
<div class="flex items-center justify-center p-3">
  <form class="space-y-3" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group" >
      <input
      ngModel
      name="email"
        class="w-80 border border-blue-200 rounded-xl p-2 form-control"
        type="email"
        id="email"
        placeholder="Enter Email..."
        required
        email
        #email="ngModel"
      />
      <span class="text-xs block text-red-600" *ngIf="!email.valid &&email.touched &&!email.errors?.required">Enter a valid email !</span>
      <span class="text-xs block text-red-600" *ngIf="email.errors?.required &&email.touched">Email Required !</span>
      </div>
      <div class="form-group" >
        <input
        ngModel
        name="username"
          class="w-80 border border-blue-200 rounded-xl p-2 form-control"
          type="text"
          id="username"
          placeholder="Enter Username..."
          required
          minlength="5"
          #username="ngModel"
        />
      <span class="text-xs block text-gray-500" *ngIf="username.touched && !username.valid &&!username.errors?.required">Must have atleast 5 characters.</span>
      <span class="text-xs block text-red-600" *ngIf="username.errors?.required &&username.touched">Username Required !</span>
      </div>
    <div class="form-group" >
      <input
      ngModel
      name="mobileNumber"
        class="w-80 border border-blue-200 rounded-xl p-2 form-control"
        type="text"
        id="phno"
        placeholder="Enter Phone Number..."
        pattern="^[4689][0-9]{9}$"
        required
        #phno="ngModel"
      />
      <span class="text-xs block text-red-600" *ngIf="!phno.valid &&phno.touched && !phno.errors?.required">Must start with 4,6,8 or 9<br> 10 digits only</span>
      <span class="text-xs block text-red-600" *ngIf="phno.errors?.required &&phno.touched">MobileNumber Required !</span>
    </div>
      <div class="form-group" >
        <input
        ngModel
        name="password"
          class="w-80 border border-blue-200 rounded-xl p-2 form-control"
          type="password"
          id="password"
          placeholder="Enter Password..."
          (input)="confirmPassword.control.updateValueAndValidity()"
          required
          pattern="^((?=.*\d)(?=.*[A-Z])(?=.*\W).{8,20})$"
          #password="ngModel"
        />
        <!---->
        <span class="text-xs block text-red-600" *ngIf="password.errors?.required &&password.touched">Password Required !</span>
        <span class="text-xs block text-red-600" *ngIf="!password.valid &&password.touched &&!password.errors?.required">Password is Invalid !</span>
        <span class="text-xs block text-gray-500" *ngIf="password.touched && !password.valid&&confirmPassword.invalid">
          Password must contain: <br>
          <ul>
            <li>- atleast 8 characters</li>
            <li>- a capital letter</li>
            <li>- a small letter</li>
            <li>- a digit</li>
            <li>- a special character</li>
          </ul>
        </span>
      </div>
      <div class="form-group" >
        <input
        ngModel
        name="confirmPassword"
          class="w-80 border border-blue-200 rounded-xl p-2 form-control"
          type="password"
          id="password"
          placeholder="Confirm Password..."
          required
          #confirmPassword="ngModel"
          confirmEqualValidator="password"
        />
        <span class="text-xs block text-red-600" *ngIf="confirmPassword.errors?.required &&confirmPassword.touched">Confirm Password Required !</span>
        <span class="text-xs block text-red-600" *ngIf="confirmPassword.errors?.notEqual && !confirmPassword.errors?.required &&confirmPassword.touched">Password doesn't match with Confirm Password !</span>
      </div>
    <div class="flex items-center justify-center">
      <button
        class="{{f.valid?enableCss:disableCss}} mt-5 px-3 py-2 rounded-2xl font-medium"
        type="submit" [disabled]="!f.valid"
        [ngStyle]="{'cursor':f.valid?'pointer':'not-allowed'}"
      >
        Sign Up
      </button>
    </div>
    <p class="text-cyan-400 font-dongle text-center text-2xl">
      Already an User?<span class="text-green-400 cursor-pointer"><a routerLink="/">Login</a></span>
    </p>
  </form>
</div>
