.nav {
    background: #587291;
    text-align: center;
    height: 50px;
    justify-content: space-between;
  }
  
  .nav ul {
    display: inline-flex;
    list-style: none;
    color: white;
  }
  
  .nav ul li {
    width: 150px;
    margin: 5px;
    padding: 7px;
    font-weight: bold;
  }
  
  ul li a {
    width: 80px;
    text-decoration: none;
    color: white;
    margin-top: -6px;
    display: block;
    padding: 15px 20px;
    position: relative;
    top: -6px;
    padding-right: 30px;
  }
  
  ul li a:hover {
    background-color: #8DC3EE;
    margin-top: -6px;
    transition: 0.5s;
    text-transform: initial;
    height: 30px;
  }
  
  ul li a:active {
    background-color: #303d4e;
  }
  
  #themes {
    height: 19px;
    background-color: #41556b;
  }
  
  #themes:hover {
    height: 20px;
    background-color: #8DC3EE;
  }
  
  #logo {
    position: relative;
    top: 8px;
    left: -34%;
    background-color: #587291;
    height: 10px;
  }
  
  #logo img {
    position: absolute;
    top: -15px;
    margin-left: -45%;
    background-color: #587291;
  }
  
  #profile {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    margin-left: 55%;
    top: 4px;
  }
  
  #profile>img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    top: -50%;
    left: -50%;
    cursor: pointer;
  }
  
  #notification {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -1%;
    right: 25px;
  }
  
  body {
    background-color: #8DC3EE;
  }
  
  .book-theme-main {
    width: 100%;
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .card {
    width: 80%;
    padding: 50px 100px 10px 100px;
    -webkit-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.39);
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.39);
    display: flex;
    background-color: white;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: -5%;
  }
  
  .book-theme-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: -5%;
  
  }
  
  .book-theme-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: -7%;
  }
  
  .book-theme-left>input {
    width: 350px;
    padding: 10px;
    margin-bottom: 50px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
  
  }
  
  .book-theme-right>input {
    width: 350px;
    padding: 10px;
    margin-bottom: 50px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
  }
  
  #btn {
    background-color: #F39237;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    top: 80%;
    right: 20%;
  }
  
  .btn-group #btn:hover {
    background-color: darksalmon;
    color: black;
  }
  
  .btn-group {
    padding-bottom: 10px;
  }
  
  ::placeholder {
    color: #587291;
  }
  
  .footer-main {
    width: 98.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #587291;
    height: 40px;
    margin-top: 20px;
    color: white;
    padding: 10px 10px 0px 10px;
    bottom: 0;
  }
  