@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-1000 {
    animation-delay: 1s;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-3000 {
    animation-delay: 3s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
