<div class="container">
    <nav class="navbar">
      <div class="navRight">
        <img src="../../../assets/imgs/dewdrop.png" alt="dewLogo" width="30" height="30" />
        <h3 class="logo-heading">DewDrops</h3>
      </div>
      <div class="navLeft">
        <a href="#">Book Events</a>
        <a href="#">Events</a>
        <a href="#">About</a>
      </div>
      <div class="login-pic"></div>
    </nav>
    <div class="content1">
      <app-be-content></app-be-content>
    </div>
  </div>
  
