<nav class="navbar">
    <div class="logo">
        <img src="../../assets/imgs/Logo.jpeg" alt=""/>
        <h1>Dew Drops</h1>
    </div>
    <div class="nav-center">
      <a routerLink="/admin/themes" id ="themes"class="nav-item" >Book Event</a>
          
      <a routerLink="/admin/foodmenu"id ="foodmenu" class="nav-item">My Events</a>
      <a routerLink="/admin/addons" id ="addons" class="nav-item" class="active" >About</a>
    </div>
    <div class="nav-right">
        <div class="profile"><img src="../../assets/imgs/profilepicture.png" alt=""></div>
        <div class="notification">5</div>
    </div>
  </nav>



  <div class="box">
   
  
  
  
  <p style=" position: relative;
   top:-65px; align-content: center;"> <br>
    &nbsp; 
    Dew Drops Events Planning and Decor is one of the top event management<br>
    &nbsp; 
   companies, focuses on event management across India in a way that  <br>
   &nbsp; 
   creates a win-win situation for all involved stakeholders.<br>
    &nbsp; 
    Our goal is to ensure that the clients, as well as participants of the event,<br>
    &nbsp; 
    have an overall positive experience. <br>
    &nbsp; 
    We aim at creating long-lasting collaborations that will span years to come.<br>
    &nbsp; 
    Our core purpose is to flourish the WOW customer experience and to <br>
    &nbsp; 
    bring prosperity to the entire ecosystem connected with her.<br>
    &nbsp;  &nbsp;  &nbsp; 
    <b  style=" position: relative; left:350px; " >OUR TEAM</b><br>
    &nbsp;
    Allwin K , Ashish Gupta ,Ekta, Ezhil B, Kavin Kumar B, Lokesh S,<br>
    &nbsp;
    Pavithra S,Pavithra V,Shankhadeep Biswas,Vikash Kr. Soni	. 

</p>
   
   
   
   
   
  </div>
  


<div class="footer-main">
    <div class="footer-left">@All rights reserverd .inc</div>
    <div class="footer-right">Contact Us: 7465837589</div>
    <div class="footer-right">dewdrops@gmail.com</div>
   </div>
