.navbar{
    width: 100vw;
    height: 80px;
    background-color: #587291;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    color: white;
    position: fixed;
    top: 0;
  
  }
  
  
  .logo{
    display: flex;
    align-items: center;
    
  }
  
  .logo > img{
    height: 60px;
    width: 60px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 50%;
  }
  
  .logo > h1{
    font-size: 32px;
    font-weight: 500;
  }
  
  .nav-center .nav-item{
    font-size: 36px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-right: 20px;
    display: inline-block;
    margin: 0;
    margin-right: 150px;
    
  }
  .nav-center a.active {
    background-color:  #8dc3ee;
    color: white;
    font-size: 36px;
    margin: 0;
    margin-right: 150px;
    padding: 20px 22px;
    
  }
  
  .nav-center .nav-item:last-of-type{
    margin-right: 0;
  }
  
  .nav-right{
    margin-right: 30px;
  }
  
  .profile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: relative;
  }
  
  .profile > img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .notification{
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50%;
    color: white;
    background-color: red;
    position: absolute;
    top: 9px;
    right: 30px;
  
  }
  
  
  html {
      font-family: sans-serif;
      box-sizing: border-box;
      align-content: space-evenly;
      
      
    }
    
    *, *:before, *:after {
      box-sizing: inherit;
    }
    
    .text-center {
      text-align: center;
    }
    
    .color-white {
      color: #fff;
      
    }
  
    .ribbon{
      height: 275px;
      background-color: #587291;
      margin-top: 135px;
    }
    
    .box-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 35px 15px;
      width: 110%;
      position: absolute;
      top: 0;    
    }
    
    @media screen and (min-width:1380px) {
      .box-container {
        flex-direction: row
        
      }
    }
    
    .box-item {
      position: relative;
      -webkit-backface-visibility: hidden;
      width: 415px;
      margin-bottom: 30px;
      max-width: 100%;
      margin: 0;
      margin-right: 150px;
     
     
      
    }
    
    .flip-box {
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      perspective: 1000px;
      -webkit-perspective: 1000px;
     
    }
    
    .flip-box-front,
    .flip-box-back {
      background-size: cover;
      background-position: center;
      border-radius: 8px;
      min-height: 475px;
      -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
      transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
      -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    
    .flip-box-front {
      -ms-transform: rotateY(0deg);
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    
    .flip-box:hover .flip-box-front {
      -ms-transform: rotateY(-180deg);
      -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
      -webkit-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    
    .flip-box-back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      
      -ms-transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    
    .flip-box:hover .flip-box-back {
      -ms-transform: rotateY(0deg);
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    
    .flip-box .inner {
      position: absolute;
      left: 0;
      width: 100%;
      padding: 60px;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
      perspective: inherit;
      z-index: 2;
      
      transform: translateY(-50%) translateZ(60px) scale(.94);
      -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
      -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
      top: 50%;
    }
    
    .flip-box-header {
      font-size: 34px;
     
      align-items: center;
      
    }
    
    .flip-box p {
      font-size: 20px;
      line-height: 1.5em;
      
    }
    
    .flip-box-img {
      margin-top: 25px;
     
  
    }
    
    .flip-box-button {
      background-color: transparent;
      border: 2px solid #fff;
      border-radius: 2px;
      color: #fff;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      margin-top: 25px;
      padding: 15px 20px;
      text-transform: uppercase;
      margin: 10px;
      
    }
    .add-add-ons {
      background-color: #f39237;
      width: 230px;
      height: 60px;
      font-size: 25px;
      border-radius: 50px;
      position: absolute;
      
      color: white;
      border: none;
      box-shadow: -1px 5px 12px -2px rgba(0, 0, 0, 0.41);
      -webkit-box-shadow: -1px 5px 12px -2px rgba(0, 0, 0, 0.41);
      -moz-box-shadow: -1px 5px 12px -2px rgba(0, 0, 0, 0.41);
      position:relative; right:120px; top:335px; 
      cursor: pointer;
      margin: 10px;
      
    }
    
    #container {
      top: 230px;
      bottom:0; 
      width: 100%; 
      position: fixed; 
      
   }
   .arrow {
    border: solid black;
   
    display: inline-block;
    border-width: 0 15px 15px 0;
    width: 100px;
    height:100px;
    cursor: pointer;
    margin: 10px;
    padding: 30px 35px;
    position:relative; 
    right: 15px;
    left:15px;
    
    
    
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    
    position: relative;
    display: flex;
    left:-250px
  }
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    
    position: relative;
    display: flex;
    left:20px
    
  }
  .footer-main{
    width: 100vw;
    height: 80px;
    background-color: #587291;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Dongle', sans-serif;
    color: white;
    font-size: 34px;
    font-weight: 500;
    bottom: 0;
    position: fixed;
    
  }