<nav class="navbar">
    <div class="logo">
        <img src="assets/Images/Logo.jpeg" alt=""/>
        <h1>Dew Drops</h1>
    </div>
    <div class="nav-center">
      <a routerLink="/admin/themes" id ="themes"class="nav-item" >Theme</a>
          
      <a routerLink="/admin/foodmenu"id ="foodmenu" class="nav-item">Food Menu</a>
      <a routerLink="/admin/addons" id ="addons" class="nav-item" class="active" >Add-ons</a>
    </div>
    <div class="nav-right">
        <div class="profile"><img src="assets/Images/profilepicture.png" alt=""></div>
        <div class="notification">5</div>
    </div>
  </nav>
  
  
  <div id="container">
    <div class="ribbon"></div> 
   <div class="box-container">
    <i class="arrow left"></i>
      <div class="box-item">
        
          <div class="flip-box">
            
              <div class="flip-box-front text-center" style="background-image: url('assets/Images/MagicShowBg.jpg');">
              <div class="inner color-white">
                
                <h3 class="flip-box-header">MAGIC SHOW</h3><br><br>
                <img src="assets/Images/MagicShowFrontSide.jpg" width=400 height=450 alt="" class="flip-box-img">
              </div>
            </div>
            <div class="flip-box-back text-center" style="background-image: url('assets/Images/CardBackSide.jpg');">
              <div class="inner color-white">
                <h4 class="flip-box-header" style="color:black; position:relative; 
                left:-50px;" ><b> Price : 2500/- </b> </h4><br>
               
                <button class="flip-box-button"> <i class="fa fa-pencil" style="font-size:30px;color:#587291;padding-right: 20%;cursor: pointer;position:relative; 
                  left:-80px;" ></i>
                  <i class="fa fa-trash-o" style="font-size:30px;color:red;cursor: pointer; position:relative; 
                  left:-30px;top:-28px"></i></button>
              </div>
            </div>
          </div>
      </div>
      
      
      <div class="box-item">
          <div class="flip-box">
            <div class="flip-box-front text-center" style="background-image: url('assets/Images/MehindiBg.jpg');">
              <div class="inner color-white">
                <h3 class="flip-box-header">MEHINDI ART</h3><br><br>
                
                <img src="assets/Images/MehindiBackSide.jpg" width=400 height=450 alt="" class="flip-box-img">
              </div>
            </div>
            <div class="flip-box-back text-center" style="background-image: url('assets/Images/CardBackSide.jpg');">
              <div class="inner color-white">
                <h4 class="flip-box-header"style="color:black;position:relative; 
                left:-50px;" ><b> Price : 2500/- </b></h4> <br>
                <button class="flip-box-button"> 
                   <i class="fa fa-pencil" style="font-size:30px;color:#587291;padding-right: 20%;cursor: pointer;position:relative; 
                   left:-80px;"></i>
                  <i class="fa fa-trash-o" style="font-size:30px;color:red;cursor: pointer;position:relative; 
                  left:-30px;top:-28px"></i></button>
              </div>
            </div>
          </div>
      </div>
  
      
      <div class="box-item">
          <div class="flip-box">
              <div class="flip-box-front text-center" style="background-image: url('assets/Images/DjBg.jpg');">
                  <div class="inner color-white">
                    <h3 class="flip-box-header">DJ PARTY</h3><br><br>
                    
                    <img src="assets/Images/DjFrontSide.jpg" width=400 height=450 alt="" class="flip-box-img">
                  </div>
                </div>
                <div class="flip-box-back text-center" style="background-image: url('assets/Images/CardBackSide.jpg');">
                  <div class="inner color-white">
                    <h4 class="flip-box-header"style="color:black;position:relative; 
                    left:-50px;" ><b> Price : 2500/- </b></h4> <br>
                    <button class="flip-box-button"> 
                       <i class="fa fa-pencil" style="font-size:30px;color:#587291;padding-right: 20%;cursor: pointer;position:relative; 
                       left:-80px;"></i>
                       <i class="fa fa-trash-o" style="font-size:30px;color:red;cursor: pointer;position:relative; 
                       left:-30px;top:-28px"></i></button>
              </div>
            </div>
          </div>
      </div>
      <button type="submit" routerLink="/admin/addAdd-ons" class="add-add-ons">Add Add-ons</button>
      
      <i class="arrow right"></i>
      
      </div>
      
  
  
  </div>
  <div class="footer-main">
   <div class="footer-left">@All rights reserverd .inc</div>
   <div class="footer-right">Contact Us: 7465837589</div>
   <div class="footer-right">dewdrops@gmail.com</div>
  </div>
